/* root element for scrollable */
.vertical {
    /*background:#fff;*/
    padding:0 15px;
    /* required settings */
    position:relative;
    overflow:hidden;

    /* vertical scrollers have typically larger height than width */
   height: 208px;
    width: 272px;
    border-top:1px solid #ddd;
}
.vertical-mobile {
    background:#fff;
    color:#000;
    padding:0 15px;
    /* required settings */
    position:relative;
    overflow:hidden;

    /* vertical scrollers have typically larger height than width */
    height: 210px;
    width: 272px;
    border-top:1px solid #ddd;
}

/* root element for scrollable items */
.items {
    position:absolute;
    width:89%;
    /* this time we have very large space for height */
    height:20000em;
    margin: 0px;
}

/* single scrollable item */
.item {
    position: relative;
    border-bottom:1px solid #ddd;
    padding:15px 0;
    font-size:12px;
}

/* elements inside single item */
.item img {
    float:left;
    margin-right:20px;
}

.item h3 {
    margin:0 0 5px 0;
    font-size:16px;
    color:#456;
    font-weight:normal;
}

/* the action buttons above the scrollable */
#actions {
    width:80%;
    margin:0;
    padding:0;
}

#actions a {
    font-size:11px;
    cursor:pointer;
    color:#666;
    margin: 5px 0 0 0;
}

#actions a:hover {
    text-decoration:underline;
    color:#000;
}
.action-mobile{width:100%!important;}
.action-mobile a {color:#fff!important;}

.disabled {
    visibility:hidden;
}

.next {
    float:right;
}