@primary : white;
@header-font : white;
@green : #88c425;

body {background-color:@primary}
.navbar {background:transparent;}
.navbar {background-color:@green}
.navbar-inverse .navbar-nav>li>a {color:@header-font;}
.navbar-nav li a {color:@header-font;}
.navbar .container {padding-bottom:0px;}
.navbar-logo {float:left}
.main-content {margin-top:60px;}
#colophon {background-color:@green; min-height:150px}