/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background-color: #ffffff;
}
.navbar {
  background: transparent;
}
.navbar {
  background-color: #88c425;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-nav li a {
  color: #ffffff;
}
.navbar .container {
  padding-bottom: 0px;
}
.navbar-logo {
  float: left;
}
.main-content {
  margin-top: 60px;
}
#colophon {
  background-color: #88c425;
  min-height: 150px;
}
img.wp-post-image,
.product .thumbnails img {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.center-product {
  text-align: center !important;
}
.star-rating {
  margin: auto;
}
.products .product {
  text-align: center;
}
.products .product .star-rating {
  margin: auto !important;
}
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
  margin: 15px !important;
}
.woocommerce-ordering select {
  padding: 3px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
  -moz-box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
  box-shadow: 0 3px 0 #cccccc, 0 -1px #ffffff inset;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.dropdown-menu li a {
  color: #000000;
}
.woocommerce-tabs .panel {
  padding: 10px !important;
}
